.sec3{
    background-image: url(../images/17.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 1200px;
}
.ccc{
    height: 20px;
}
.title111{
    text-align: center;
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px 2px rgb(138, 138, 138);
    margin-top: 50px; 
}
.div111{
    width: 330px;
    height: 4px ;
    background-color: black;
    margin: auto;
    margin-top: -20px ;
}
.parent222{
    margin-top: 50px;   
}
.div222{
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    margin-left: 150px;
}
.title222{
    font-size: 50px;
    color: rgb(197, 33, 33);
    margin-top: 1px;
    text-shadow: 2px 2px 2px white;
}
.div555{
    margin-top: 10px;
    margin-left: -40px;
    background-color: white;
    width: 520px;
}
.t111{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
}
.div333{
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    margin-left: 30px ;
}
.title333{
    font-size:50px;
    color: rgb(197, 33, 33);
    margin-top: 1px;
    text-shadow: 2px 2px 2px white;
}
.div666{
    margin-left: -150px;
    margin-top: 500px;
    background-color: white;
    width: 670px;
}
.t222{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
}
.div444{
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    margin-left: 10px ;
}
.title444{
    font-size:50px;
    color: rgb(197, 33, 33);
    margin-top: 1px;
    text-shadow: 2px 2px 2px white;
}
.div777{
    margin-top: 10px;
    margin-left: -120px;
    background-color: white;
    width: 600px;
}
.t333{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
}
.l111{
    height: 550px;
}
.div555:hover .title222{
    color: rgb(72, 91, 141);
}
.div666:hover .title333{
    color: rgb(72, 91, 141);
}
.div777:hover .title444{
    color: rgb(72, 91, 141);
}
.div555:hover .t111{
    color: rgb(197, 33, 33);
    text-shadow: 2px 2px 2px white;
}
.div666:hover .t222{
    color: rgb(197, 33, 33);
    text-shadow: 2px 2px 2px white;
}
.div777:hover .t333{
    color: rgb(197, 33, 33);
    text-shadow: 2px 2px 2px white;
}
    