.sec6{
    height: 280px;
    margin-top: -10px;
    background-color: lightpink;
}
.t1{
    height: 20px;
}
.n1{
    margin-left: 170px;
    font-size: 28px;
    margin-top: 40px;
}
.n2{
    margin-left: 410px;
    font-size: 28px;
    margin-top: -175px;
}
.n3{
    margin-left: 650px;
    font-size: 28px;
    margin-top: -175px;
}
.n4{
    margin-left: 920px;
    font-size: 28px;
    margin-top: -175px;
}
.n5{
    margin-left: 40px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: -1px;
}
.n6{
    margin-left: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: -1px;
}
.n7{
    margin-left: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: -1px;
}
.n8{
    margin-left: 80px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: -1px;
}
.n9{
    margin-top: -40px;
}
.n10{
    margin-top: -40px;
}
.n11{
    margin-top: -40px;
}
.n12{
    margin-top: -40px;
}
.use_1{
    margin-left: 50px;
    font-size: 50px;
    margin-top: 20px;
}
.use_2{
    margin-left: 43px;
    font-size: 50px;
    margin-top: 20px;
}
.use_3{
    margin-left: 60px;
    font-size: 50px;
    margin-top: 20px;
}
.use_4{
    margin-left: 80px;
    font-size: 50px;
    margin-top: 20px;
}
